.login-button {
    background-color: #CC0000; 
    border: none; 
    color: white;
}

.MCCS-logo {
    align-self: center;
}

body {
    color: white;
    background-color: transparent;
}

.card {
    background-color: #1D1D45;
}

html {
    background-color: #000033;
}

.role-button {
    background-color: #CC0000; 
    border: none; 
    color: white;
}
