.form-container {
  background-image: url("images/blurred_smu_morning.jpg");
  background-size: cover;
}

.container {
    width: 55%;
    color: white;
}

body {
  background-color: #1E1E1E;
}
.nav-btn {
  margin: 10px; /* Adjust the margin as needed */
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar {
  height: 100%;
  width: 20%;
  background-color: #87192A;
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  box-shadow: 3%;
  z-index: 1;
}

.nav-btn {
  margin-left: 20px;
}

a.nav-btn {
  display: block;
}

img {
  max-width: 80%;
  height: auto;
}

.options {
  width: 20%;
}
