.form-container {
  background-image: url("images/blurred_smu_morning.jpg");
  background-size: cover;
}

.container {
  width: 55%;
  color: white;
}

body {
  background-color: #1e1e1e;
}

.sidebar {
  background-color: #87192a;
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  box-shadow: 3%;
  z-index: 2;
  width: 20%;
}

.bigbox input {
  display: none;
}

.bigbox label {
  position: absolute;
  top: 10px;
  left: 0%;
  font-size: 20px;
  color: #666;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 2;
}

.bigbox ul {
  position: absolute;
  top: 0;
  left: -20%;
  width: 20%;
  height: 40%;
  background-color: #87192a;
  transition: all 0.5s;
  z-index: 1;
  border-top-right-radius: 1%;
}

#mccs-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #87192a;
}

#mccs-logo img {
  max-width: 80%;
  height: auto;
}

.nav-item a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #d2d2d2;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-item img {
  width: 24px;
  height: 24px;
  margin: 0 25px;
}

.nav-item a span {
  font-size: 20px;
}

.nav-item a:hover {
  color: #fff;
  background-color: #1e1e1e;
}

.icon-bar {
  display: flex; /* Use flexbox for easy horizontal alignment */
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Center-align items vertically */
  padding: 0; /* No padding needed by default */
  padding: 70% 0% 10% 0%;
  background-color: #87192a;
  margin: 0;
  border-bottom-right-radius: 5%;
}

.icon-button {
  border: none; /* No border for the buttons */
  background-color: transparent; /* No background color */
  padding: 22px; /* Space around the icon for easier clicking, adjust as needed */
  cursor: pointer; /* Change mouse cursor to pointer to indicate it's clickable */
}

.icon-button img {
  display: block; /* Remove bottom space under the image */
  width: 24px;
}

.nav-item {
  background-color: #87192a;
  width: 100%;
  height: 70px;
  padding: 1%;
}

.bigbox input:checked + label {
  left: 20%;
}

.bigbox input:checked ~ ul {
  left: 0;
}

