html {
  background-image: url("../images/mccs-branch-colored.png");
  background-size: cover;
  position: relative;
}

body {
  background-color: transparent;
}

.btn {
  margin: 10px; /* Adjust the margin as needed */
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  border-radius: 1rem;
  border-color: #87192A;
  border-width: 2px;
  width: 14rem;
}

.btn:hover {
  background-color: #87192A;
  color: white;
  box-shadow: 10px 5px 5px black;
}

.container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: rgba(29, 29, 29, 0.9);
  color: white;
  border-radius: 1rem;
}

h1 {
  font-size: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-header {
  text-align: center;
}

#username {
  background-color: #87192A;
  border-radius: 20px;
  padding: 2%;
  margin-left: 2%;
}