.btn {
    margin: 10px; /* Adjust the margin as needed */
}

a.btn { 
    font-size: 24px;
    background-color: red;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

html {
    background-image: url("https://cherrypoint.usmc-mccs.org/modules/media/t/a924c81802f843748ef80b77cd318f11_v1.jpg?m=638298225858570000");
    background-size: cover;
 }
 
 body {
    background-color: transparent;
 }
 

 /* Go to Account Settings */

/* Auto layout */
