html {
  background-image: url("/images/mccs-branch-colored.jpg");
  background-size: cover;
}

body {
  background-color: transparent;
}

.btn {
  margin: 10px; /* Adjust the margin as needed */
}

a.btn {
  font-size: 24px;
  background-color: #87192a;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
